.metadata
*/bin
*.class
Thumbs.db
.DS_Store
Desktop.ini
*.debug
*.cod
*.csl
*.cso
*.jad
*.jar
*.rapc
*/.settings
*/.preprocessed
*/.locale_interfaces
*/.classpath
*/.project
!ApplicationLogicTransfer.jar